<title>MoRide - Add Rides</title>
<div layout-gt-sm="row">
  <div flex-gt-sm="40" flex-offset-gt-sm="30">
    <form [formGroup]="validatorService.rideForm">
      <mat-card class="addARide">

        <!--=====================================================================================-->

        <mat-card-title id="ride-add-title" class="rideAddTitle">Add a Ride</mat-card-title>
        <mat-card-content class="addARideContent">

          <!--==========================================================================================-->

          <mat-radio-group flex [(ngModel)]="rideDriving" formControlName="driving" required>
            <br>
            {{this.rideUser}} is...
            <br>
            <br>
            <mat-radio-button id="isDrivingButton" [value] = true > driving</mat-radio-button>
            <mat-radio-button id="isNotDrivingButton" [value] = false (click)="setRideSeats()"> looking for a ride</mat-radio-button>
            <mat-error *ngFor="let validation of this.validatorService.ride_validation_messages.driving">
              <mat-error class="error-message" id="driving-error"
                         *ngIf="validatorService.rideForm.get('driving').hasError(validation.type) && (validatorService.rideForm.get('driving').dirty || validatorService.rideForm.get('driving').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-radio-group>

          <br>

          <!--==============================================================================================-->

          <mat-form-field *ngIf="rideDriving">
              <input type="number" class="inputRideInfo" matInput #input id="seatsAvailableField"
                     placeholder="Seats Available"
                     [(ngModel)]="rideSeats" formControlName="seatsAvailable" required>
                <mat-error *ngFor="let validation of this.validatorService.ride_validation_messages.seatsAvailable">
                  <mat-error class="error-message"
                             *ngIf="validatorService.rideForm.get('seatsAvailable').hasError(validation.type) &&
                           (validatorService.rideForm.get('seatsAvailable').dirty || validatorService.rideForm.get('seatsAvailable').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>

          </mat-form-field>

          <br/>

          <!--========================================================================================================-->

          <mat-form-field>
            <input class="inputRideInfo" matInput #input id="originField" placeholder="Origin"
                   required [(ngModel)]="rideOrigin" formControlName="origin">
            <mat-error *ngFor="let validation of this.validatorService.ride_validation_messages.origin">
              <mat-error class="error-message"
                         *ngIf="validatorService.rideForm.get('origin').hasError(validation.type) &&
                       (validatorService.rideForm.get('origin').dirty || validatorService.rideForm.get('origin').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <!--======================================================================================================-->

          <mat-form-field>
            <input class="inputRideInfo" matInput #input id="destinationField" placeholder="Destination"
                   required [(ngModel)]="rideDestination" formControlName="destination">
            <mat-error *ngFor="let validation of this.validatorService.ride_validation_messages.destination">
              <mat-error class="error-message"
                         *ngIf="validatorService.rideForm.get('destination').hasError(validation.type) &&
                       (validatorService.rideForm.get('destination').dirty || validatorService.rideForm.get('destination').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <br/>

          <!--========================================================================================================-->

          <mat-form-field>
            <input matInput class="inputRideInfo" id="departureDateField" [min]="minDate" [matDatepicker]="picker"
                   placeholder="Choose Departure Date" [(ngModel)]="rideDepartureDate" formControlName="departureDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input type="time" class="inputRideInfo" matInput #input id="departureTimeField" placeholder="Departure Time"
                   [(ngModel)]="rideDepartureTime" formControlName="departureTime">
          </mat-form-field>

          <br/>

          <!--===============================================================================================-->

          <mat-form-field>
            <textarea class="inputRideInfo" matInput #input id="notesField" placeholder="Notes"
                      [(ngModel)]="rideNotes" formControlName="notes"></textarea>
          </mat-form-field>

          <br/>

          <!--=====================================================================================================-->

          <label> I would prefer my ride to be... </label>

          <br/>

          <mat-checkbox id="roundTripCheckBox" [(ngModel)]="rideRoundTrip"
                        [ngModelOptions]="{standalone: true}">Round Trip</mat-checkbox>
          <br/>

          <mat-checkbox class="checkboxNonSmoking" id="checkboxNonSmoking" [(ngModel)]="rideNonSmoking"
                        [ngModelOptions]="{standalone: true}">Non-smoking</mat-checkbox>

          <!--=================================================================================================-->

        </mat-card-content>

        <mat-card-actions layout="row">
          <button class="addRideButton" mat-raised-button id="confirmAddRideButton"  type="button" color="primary"
                  (click)="addRide()" routerLink="/rides" [disabled]="!validatorService.rideForm.valid">Add Ride
          </button>
          <button class="cancelRideButton" mat-button id="exitWithoutAddingButton" routerLink="/rides"  type="button">Cancel</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>
</div>
