<title>MoRide - Upcoming Rides</title>
<div layout-gt-sm="row">

  <div flex-gt-sm="50" flex-offset-gt-sm="25">
    <h1 id="ride-list-title">Upcoming Rides</h1>
    <button mat-raised-button
            id="add-ride-button"
            routerLink="/addride"
            color="primary"
            type="button"
            style="width: 100%">
      <mat-icon>add_circle_outline</mat-icon>
      Create a Ride
    </button>

    <mat-divider></mat-divider>

    <br>

    <mat-card-content class="filterBox">
      <mat-form-field>

        <input matInput id="rideDestination" #input type="text" placeholder="Filter by destination"
               (input)="rideDestination = $event.target.value">
      </mat-form-field>

      <mat-form-field>
        <input matInput id="rideOrigin" #input type="text" placeholder="Filter by origin"
               (input)="rideOrigin = $event.target.value">
      </mat-form-field>

      <br>

      <mat-radio-group class="radioGroup" [(ngModel)] = "rideDriving">
        I am looking for...
        <mat-radio-button id="isDriving" [value] = true (click)="rideDriving = $event.target.value">
          <mat-icon style="color:green"> drive_eta</mat-icon> drivers
        </mat-radio-button>

        <mat-radio-button id="isNotDriving" [value] = false (click)="rideDriving = $event.target.value">
          <mat-icon style="color: blue"> transfer_within_a_station </mat-icon> riders
        </mat-radio-button>

      </mat-radio-group>

      <button class="filterButton" mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">
        Filter by driving / riding
      </button>

      <br>

    </mat-card-content>



    <div *ngIf="rides; else ridesError">
      <mat-card #elem class="rides"
                *ngFor="let ride of this.filterRides(rideDestination, rideOrigin, rideDriving)">

        <mat-card-header *ngIf="ride.isDriving" class="ride-title-isDriving">
          <mat-card-title>
            <div class="departure-time">
              <mat-icon style="color:green"> drive_eta</mat-icon>
              <span *ngIf="ride.departureDate">{{ride.departureDate}}</span>
              <span *ngIf="ride.departureDate && ride.departureTime"> at </span>
              <span *ngIf="ride.departureTime">{{ride.departureTime}}</span>
            </div>
            <div class="seats-left">
              <small>{{ride.seatsAvailable}} SEATS LEFT</small>
            </div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-header *ngIf="!ride.isDriving" class="ride-title">
          <mat-card-title>
            <div class="departure-time">
              <mat-icon style="color: blue"> transfer_within_a_station </mat-icon>
              <span *ngIf="ride.departureDate">{{ride.departureDate}}</span>
              <span *ngIf="ride.departureDate && ride.departureTime"> at </span>
              <span *ngIf="ride.departureTime">{{ride.departureTime}}</span>
            </div>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="route">
            <div class="ride-info origin">{{ride.origin}}</div>
            <mat-icon>play_arrow</mat-icon>
            <div class="ride-info destination">{{ride.destination}}</div>
          </div>

          <div id="ride-info-driver-id-isDriving" class="ride-info driver" *ngIf="ride.isDriving">
            {{ride.driver}} is offering this ride
          </div>

          <div id="ride-info-driver-id" class="ride-info driver" *ngIf="!ride.isDriving">
            {{ride.driver}} is requesting this ride
          </div>

          <mat-divider [inset]="true" *ngIf="ride.notes"></mat-divider>

          <div  *ngIf="ride.notes" class="ride-info notes">
            <small>DRIVER NOTES:</small>
            <div>{{ride.notes}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #ridesError>
        <mat-error>
          There was a problem loading the rides. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
      </ng-template>
  </div>
</div>
