
<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <img  id="logohome" class="morideFulllogo" src="assets/img/moridelogoFull.png"/>

    <mat-card>
      <mat-card-title id="hello-world">MoRide Home</mat-card-title>
      <mat-card-subtitle>
        Welcome to MoRide! You can look for and post rides for the Morris Community.
      </mat-card-subtitle>
      <div>
        <button *ngIf="appService.isSignedIn()" id="rideslistbutton" mat-raised-button
                routerLink="/rides"
                color="primary"
                type="button">
          <mat-icon>directions_car</mat-icon>
          View Rides
        </button>

        <button *ngIf="appService.isSignedIn()"  mat-raised-button
                routerLink="/addride"
                type="button">
          <mat-icon>add_circle_outline</mat-icon>
          Add Rides
        </button>
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div
          id="signIn" *ngIf="!appService.isSignedIn()" class="g-signin2" (click)="appService.signIn()">
        </div>

        <div id="signOut"  *ngIf="appService.isSignedIn()" (click)="appService.signOut()">
          <mat-icon>exit_to_app</mat-icon>
          Sign Out
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>

