<!--The font for the designs is Bungee!-->
<!--The hex color of the blue in the designs is #29b6f6-->
<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <input type="image"
           src="assets/img/moridelogoFull.png"
           routerLink="/"
           class="morideFulllogo"
    />

    <mat-card>
      <mat-card-title id="hello-world">MoRide Home</mat-card-title>
      <mat-card-subtitle>
        Welcome to MoRide! You can look for and post rides for the Morris Community.
      </mat-card-subtitle>
      <div class="addViewWrapper">
        <input type="image"
               src="assets/img/viewridesbutton.png"
               *ngIf="appService.isSignedIn()"
               routerLink="/rides"
               class="rideimages"
               id="morideViewRidelogo"
        />

        <input type="image"
               src="assets/img/addridesbutton.png"
               *ngIf="appService.isSignedIn()"
               routerLink="/addride"
               class="rideimages"
               id="morideAddRidelogo"

        />


      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <input type="image"
               src="assets/img/signoutbutton.png"
               *ngIf="appService.isSignedIn()"
               (click)="appService.signOut()"
               class="signoutButton"
        />

        <div
          id="signIn" *ngIf="!appService.isSignedIn()" class="g-signin2" (click)="appService.signIn()">
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>

