<title>MoRide - Profile</title>
<div layout-gt-sm="row">

  <div flex-gt-sm="50" flex-offset-gt-sm="25">
    <h1 id="profile-title">Profile Page</h1>
    <mat-divider></mat-divider>

    <br>

    <div #elem class="profile" [id] = "profile._id.$oid" *ngIf="profile; else profileError">
      <mat-card>
        <mat-card-title id="profileFullName">{{profile.fullName}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="profileInfo">
          <div>
            <div id="profileEmail">
              Email: {{profile.email}}
            </div>
            <br><br>
            <div id="profilePhone" *ngIf="profile.phone; else noPhoneMsg">
            Phone: {{profile.phone}}
            </div>
            <ng-template #noPhoneMsg>
              No Phone Added
              <button *ngIf="profile.userId === getLocalUserId()" (click)="showPhoneForm = true"> Add Phone </button>
            </ng-template>
            <br><br>
            <div *ngIf="profile.userId === getLocalUserId()">
              <button *ngIf=profile.phone (click)="showPhoneForm = true"> Edit Phone </button>
              <br><br>
              <form id="phoneForm" [formGroup]="userForm" novalidate *ngIf="showPhoneForm">
              <div class="form-group">
                <label for="tel">Phone: </label>
                <input id="tel" class="form-control" phoneMask [preValue]="userForm.value.phone"  formControlName="phone" maxlength="14"
                       [ngClass]="(userForm.controls['phone'].invalid)? 'errmsg' : 'validmsg'">
                {{userForm.get('phone').status | json}}
              </div>
              <button [disabled]="userForm.status == 'INVALID'" class="btn btn-success" (click)="saveProfileInfo(profile.userId,userForm.value.phone)">Save</button>
            </form>
            </div>
          </div>
        <div>
        <img src="{{profile.pictureUrl}}">
        </div>
        </mat-card-content>
      </mat-card>
      <mat-card>

        <mat-card-title>Upcoming Rides</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content> You can see all your current Rides Below
          <br><br>
          <mat-accordion *ngIf="userRides; else userError">
          <mat-expansion-panel #elem *ngFor="let ride of this.userRides">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ride.origin}} &nbsp; <mat-icon class="arrow">label_important</mat-icon> &nbsp; {{ride.destination}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description> Seats Available: {{ride.seatsAvailable}}</mat-panel-description>
            <mat-panel-description>
              Leaving On:

              <div *ngIf="!checkImpossibleDate(ride); then possible_date else impossible_date"> </div>
              <ng-template #possible_date > {{this.dateParse(ride.departureDate)}} </ng-template>
              <ng-template #impossible_date> Unspecified date </ng-template>

              at

              <div *ngIf="!checkImpossibleTime(ride); then possible_time else impossible_time"> </div>
              <ng-template #possible_time > {{this.hourParse(ride.departureTime)}} </ng-template>
              <ng-template #impossible_time> unspecified time </ng-template>

            </mat-panel-description>
            <mat-panel-description> Round Trip: {{ride.roundTrip}}</mat-panel-description>
            <mat-panel-description> Smoking Allowed?: {{ride.nonSmoking}}</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #userError>
      <mat-error>
        There was a problem loading your upcoming rides. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
    </ng-template>

    <ng-template #profileError>
      <mat-error>
        There was a problem loading the profile. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
    </ng-template>


  </div>
</div>

